<!DOCTYPE HTML>
<html ng-app="MyCarShopApp">
<head>
    <base href="/" />
    <title></title>
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <div ng-view>

    </div>


    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/services/CarService.js"></script>
    <script src="~/ngApp/controllers/CarControllers.js"></script>
</body>
</html>